celery
channels
daphne
Django
django-celery-beat
django-cors-headers
django-rest-framework
django-timezone-field
djangorestframework
djangorestframework-simplejwt
Pillow
psycopg2
PyJWT
python-dotenv
redis
mysqlclient
asgiref==3.4.1
pytz==2021.1
sqlparse==0.4.1
gunicorn==20.1.0
dj-database-url==1.2.0